*,  *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lato', serif;
    /* border-style: dotted; */
}   

:root {
    --body-bg-color: white;
    --primary-color: rgb(250, 136, 136);
    --text-color: rgb(20, 41, 83);
    --section-border-radius: 25px;
    --shadow-style: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --bg-gradient: linear-gradient(180deg, rgba(255,220,0,1) 0%, rgba(255,211,116,1) 0%, rgba(255,165,209,1) 100%);
}

body {
    background: var(--body-bg-color);
    min-height: 100vh;
    width: 100vh;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 75px);
    grid-template-rows: repeat(8, 75px);
    row-gap: 20px;
    column-gap: 20px;
    background: var(--bg-gradient);
}

.header {
    grid-row: 1 / 3;
    grid-column: 1 / 13;
    margin-top: 30px;
    align-self: center;
    color: var(--text-color);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    font-size: 4em;
    font-weight: 900;
}

#subtitle {
    margin-top: -10px;
    font-size: 2em;
    font-weight: 400;
}

#about {
    margin-top: 20px;
    margin-right: 40px;
    align-self: center;
    font-size: 1.5em;
    font-weight: 400;
}

.search {
    grid-row: 3 / 3;
    grid-column: 3 / 11;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 1em;
    box-shadow: var(--shadow-style);
}


.pac-icon {
    display: none;
}

.pac-item {
    font-size: 1rem;
    padding: 5px 5px;
}

.pac-item-query {
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 14px;
}

.score {
    border-radius: var(--section-border-radius);
    background-color: var(--primary-color);
    grid-row: 4 / 9;
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-style);
    color: var(--text-color);
}   

#sunset-score-title {
    font-size: 2em;
}

#sunset-score {
    font-size: 6em;
    font-weight: 700;

}

#sunset-datetime {
    font-size: 1.5em;
}

.details {
    grid-row: 4 / 9;
    grid-column: 7 / 13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    color: var(--text-color);
}

.detail {
    height: 75px;
    border-radius: 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    box-shadow: var(--shadow-style)
}

/* Mobile */

/* Portrait for iPhone X*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 896px)
  and (orientation: portrait) { 
    body {
        display: grid;
        grid-template-columns: repeat(1, 348px);
        grid-template-rows: repeat(12, 60px);
        min-height: 100vh;
        width: 375px;
        margin: auto;
        justify-content: center;
        row-gap: 18px;
        column-gap: 20px;
    }
    
    .header {
        grid-column: 1;
        grid-row: 1 ;
        margin-top: 20px;
        align-self: center;
        display: flex;
    }
    
    #title {
        font-size: 3.5em;
        font-weight: 900;
    }
    
    #subtitle {
        font-size: 1em;
        display: none;
    }

    .search {
        grid-row-start: 2;
        grid-column: 1 / 1;
    }

    .score {
        border-radius: var(--section-border-radius);
        background-color: var(--primary-color);
        grid-row: 3 / 8;
        grid-column: 1 / 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .details {
        grid-row: 8 / 12;
        grid-column: 1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1em;
    }

    .detail {
        height: 60px;
        border-radius: 20px;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    
}