*,  *::before, *::after {
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    /* border-style: dotted; */
}   

:root {
    --body-bg-color: white;
    --main-color: rgb(127, 127, 214);
    --section-border-radius: 25px;
}

body {
    background: var(--body-bg-color);
    min-height: 100vh;
    width: 1600px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 75px);
    grid-template-rows: repeat(8, 75px);
    row-gap: 20px;
    column-gap: 20px;
}

.header {
    grid-row: 1 / 3;
    grid-column: 1 / 7;
    margin-top: 30px;
    align-self: center;
}

#title {
    font-size: 3em;
}

#subtitle {
    font-size: 2em;
}

.search {
    grid-row: 3 / 3;
    grid-column: 3 / 10;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
}


.pac-icon {
    display: none;
}

.pac-item {
    font-size: 2rem;
    padding: 10px 10px;
}

.pac-item-query {
    font-size: 2rem;
    padding-right: 14px;
}

.score {
    border-radius: var(--section-border-radius);
    background-color: var(--main-color);
    grid-row: 4 / 9;
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.details {
    grid-row: 4 / 9;
    grid-column: 7 / 13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail {
    height: 6em;
    border-radius: 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile */