w*,  *::before, *::after {
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    border-style: dotted;
}   

:root {
    --body-bg-color: pink;
    --main-color: rgb(127, 127, 214);
}

body {
    background: var(--body-bg-color);
    min-height: 100vh;
    width: 1600px;
    margin: auto;
}

.header {

#title {
    font-weight: 700;
    font-size: 10vh;
}

#subtitle {
    font-weight: 400;
    font-size: 5vh;
}

.search {
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
}


.pac-icon {
    display: none;
}

.pac-item {
    font-size: 2rem;
    padding: 10px 10px;
}

.pac-item-query {
    font-size: 2rem;
    padding-right: 14px;
}

.content {
}

.score {
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    background-color: var(--main-color);
}

.details {
}

.detail {
    border-style: solid;
    border-radius: 5px;
    background-color: var(--main-color);
}

/* Mobile */